.container {
  display: flex;
  flex-direction: column;
  width: 672px;
}

.titleArea {
  width: 672px;
  height: 98px;
  background-color: #e0e0e0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 500;
  color: #333;
}

.inputArea {
  width: 672px;
  height: 964px;
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 500;
  color: #333;
}

.buttonArea {
  width: 672px;
  height: 96px;
  background-color: #d0d0d0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 500;
  color: #333;
}


