/* RadarChart Component Styles */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 0;
  width: 100%;
}

.chart {
  position: relative;
  width: 100%;
  height: 100%;
}

/* Size Variants */
.size-s {
  width: 180px;
  height: 160px;
}

.size-m {
  width: 236px;
  height: 204px;
}

.size-l {
  width: 300px;
  height: 260px;
}

/* Canvas 스타일 */
.chart canvas {
  max-width: 100%;
  max-height: 100%;
}

/* 반응형 처리 */
@media (max-width: 768px) {
  .size-m {
    width: 200px;
    height: 172px;
  }

  .size-l {
    width: 236px;
    height: 204px;
  }
}

@media (max-width: 480px) {
  .size-s {
    width: 150px;
    height: 130px;
  }

  .size-m {
    width: 180px;
    height: 156px;
  }

  .size-l {
    width: 200px;
    height: 172px;
  }
}
