.overlayBackdrop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: var(--z-overlay);
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
}

.overlayContent {
  display: flex;
  border-radius: 16px;
  z-index: 51;
}
