.overlayBackdrop {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 50;
}

.overlayContent {
  position: fixed;
  top: var(--header-height);
  left: var(--side-bar-width);
  width: calc(100vw - var(--side-bar-width));
  height: calc(100vh - var(--header-height));
  background-color: var(--color-bg-primary);
  border-radius: 16px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  z-index: 51;
}
