.chatArea {
  width: 824px;
  height: 1230px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  box-sizing: border-box;
  background-color: var(--color-bg-secondary);
  border-radius: 36px;
  border: 1px solid var(--color-border-secondary, #31323a);
  background: var(--color-bg-primary, #030712);
}

.chatLog {
  width: 760px;
  height: 1094px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  background-color: var(--color-bg-secondary);
  border-radius: 20px;
}

.chatLogContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.iconWrapper {
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border-radius: 50%;
  background: var(--color-bg-tertiary);
}
.iconWrapper svg {
  width: 40px;
  height: 40px;
  color: var(--color-bg-interactive-secondary-hover);
}

.mainMessage {
  margin: 0;
  padding: 0;
  font-family: var(--typo-body-lg-font-family);
  font-size: var(--typo-heading-lg-font-size);
  line-height: var(--typo-body-lg-line-height);
  font-weight: var(--typo-body-lg-font-weight);
  color: var(--color-text-primary);
  text-align: center;
}

.secondaryMessage {
  margin: 0;
  padding: 0;
  font-family: var(--typo-body-md-font-family);
  font-size: var(--typo-body-md-font-size);
  line-height: var(--typo-body-md-line-height);
  font-weight: var(--typo-body-md-font-weight);
  color: var(--color-text-interactive-secondary);
  text-align: center;
}

.messageArea {
  width: 760px;
  height: 48px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}
