.container {
  width: 100%;
  min-height: 100vh;
  padding: 32px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  gap: 32px;
  box-sizing: border-box;
}

.titleArea {
  width: 1336px;
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  justify-content: center;
  gap: 16px;
  box-sizing: border-box;
}

.title {
  margin: 0;
  padding: 0;
  font-family: var(--typo-heading-2xl-font-family);
  font-size: var(--typo-heading-2xl-line-height);
  line-height: var(--typo-heading-2xl-line-height);
  font-weight: var(--typo-heading-2xl-font-weight);
  color: var(--color-text-primary);
}

.subtitle {
  margin: 0;
  padding: 0;
  font-family: var(--typo-body-lg-font-family);
  font-size: var(--typo-heading-lg-font-size);
  line-height: var(--typo-body-lg-line-height);
  font-weight: var(--typo-body-lg-font-weight);
  color: var(--color-text-secondary);
}

.contentWrapper {
  width: 1336px;
  height: 100%;
  min-height: 1258px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  box-sizing: border-box;
  border-radius: 36px;
  border: 1px solid var(--color-border-secondary);
  background: var(--color-bg-primary);
}

.searchArea {
  width: 1272px;
  height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  box-sizing: border-box;
}

.filterSearchWrapper {
  width: 839px;
  display: flex;
  align-items: center;
  gap: 12px;
  box-sizing: border-box;
}

.filterSelect {
  width: 240px;
}

.selectboxWidth {
  width: 100%;
}

.searchInput {
  width: 100%;
  flex: 1;
}

.newPartyButton {
  width: 131px;
}

.buttonWidth {
  width: 100%;
}

.mainArea {
  width: 1272px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  box-sizing: border-box;
}
