.container {
  width: 1840px;
  height: 1430px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
  box-sizing: border-box;
}

.titleArea {
  width: 1336px;
  height: 76px;
  background-color: #e0e0e0;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.contentWrapper {
  width: 1336px;
  height: 1258px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  box-sizing: border-box;
}

.searchArea {
  width: 1272px;
  height: 48px;
  background-color: #d0d0d0;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.mainArea {
  width: 1272px;
  height: 1122px;
  background-color: #c0c0c0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  box-sizing: border-box;
}

