/* Base Radio Styles */
.label {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.input {
  opacity: 0;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
  border: none;
  clip-path: inset(50%);
}

.radioWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1.5px solid transparent;
  box-sizing: border-box;
  transition: border-color 0.2s;
}

.radioWrapper.hasFocusRing {
  /* border-color: var(--color-border-focus-ring); */
  box-shadow: 0 0 0 4px rgba(127, 253, 232, 0.32);
}

.radio {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  box-sizing: border-box;
  border: 1.5px solid transparent;
  transition: background-color 0.2s, border-color 0.2s, color 0.2s;
  flex-shrink: 0;
}

.radio.disabled {
  cursor: not-allowed;
}

.label:has(.input:disabled) {
  cursor: not-allowed;
}

.dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: currentColor;
  flex-shrink: 0;
}

/* Light Theme - Status: Unselected */
.theme-light.status-unselected.state-default {
  background-color: var(--color-base-white);
  border: 1.5px solid var(--color-gray-300);
}

.theme-light.status-unselected.state-hover {
  background-color: var(--color-base-white);
  border: 1.5px solid var(--color-gray-400);
}

.theme-light.status-unselected.state-press {
  background-color: var(--color-base-white);
  border: 1.5px solid var(--color-gray-500);
}

.theme-light.status-unselected.state-focus {
  background-color: var(--color-base-white);
  border: 1px solid var(--color-border-interactive-primary);
}

.theme-light.status-unselected.state-disabled {
  background-color: var(--color-gray-200);
  border: 1.5px solid var(--color-gray-400);
}

.theme-light.status-unselected.state-error {
  background-color: var(--color-base-white);
  border: 1.5px solid var(--color-danger-600);
}

/* Status: Selected */
.status-selected.state-default {
  background-color: var(--color-bg-interactive-primary);
  border: none;
}

.status-selected.state-hover,
.label:hover
  .status-selected.state-default:not(.state-disabled):not(.disabled) {
  background-color: var(--color-bg-interactive-primary-hover);
  border: none;
}

.status-selected.state-press {
  background-color: var(--color-bg-interactive-primary-pressed);
  border: none;
}

.status-selected.state-focus {
  background-color: var(--color-bg-interactive-primary);
  border: none;
}

.theme-light.status-selected.state-disabled {
  background-color: var(--color-gray-200);
  border-color: var(--color-gray-200);
  color: var(--color-base-white);
}

.theme-light.status-selected.state-error {
  background-color: var(--color-danger-600);
  border-color: var(--color-danger-600);
  color: var(--color-base-white);
}

/* Dark Theme - Status: Unselected */
.theme-dark.status-unselected.state-default {
  background-color: var(--color-gray-900);
  border: 1.5px solid var(--color-gray-500);
}

.theme-dark.status-unselected.state-hover {
  background-color: var(--color-gray-800);
  border: 1.5px solid var(--color-gray-400);
}

.theme-dark.status-unselected.state-press {
  background-color: var(--color-gray-700);
  border: 1.5px solid var(--color-gray-500);
}

.theme-dark.status-unselected.state-focus {
  background-color: var(--color-gray-900);
  border: 1.5px solid var(--color-brand-400);
}

.theme-dark.status-unselected.state-disabled {
  background-color: var(--color-gray-600);
  border: 1.5px solid var(--color-gray-700);
}

.theme-dark.status-unselected.state-error {
  background-color: var(--color-gray-900);
  border: 1.5px solid var(--color-danger-400);
}

/* Dark Theme - Status: Selected */
.theme-dark.status-selected.state-default {
  background-color: var(--color-brand-500);
  border-color: var(--color-brand-500);
  color: var(--color-base-black);
}

.theme-dark.status-selected.state-hover {
  background-color: var(--color-brand-600);
  border-color: var(--color-brand-600);
  color: var(--color-base-black);
}

.theme-dark.status-selected.state-press {
  background-color: var(--color-brand-700);
  border-color: var(--color-brand-700);
  color: var(--color-base-black);
}

.theme-dark.status-selected.state-focus {
  background-color: var(--color-brand-500);
  border-color: var(--color-brand-500);
  color: var(--color-base-black);
}

.theme-dark.status-selected.state-disabled {
  background-color: var(--color-gray-600);
  border-color: var(--color-gray-600);
  color: var(--color-gray-700);
}

.theme-dark.status-selected.state-error {
  background-color: var(--color-danger-400);
  border-color: var(--color-danger-400);
  color: var(--color-base-black);
}

/* Focus state */
.input:focus-visible ~ .radioWrapper .radio {
  outline: none;
}

.input:focus-visible ~ .radioWrapper .status-unselected.state-default {
  border-color: var(--color-border-interactive-primary);
}

.input:focus-visible ~ .radioWrapper .status-selected.state-default {
  background-color: var(--color-bg-interactive-primary);
}

.label:active .status-unselected.state-default {
  border-color: var(--color-neutral-500);
}

.label:active .status-selected.state-default {
  background-color: var(--color-bg-interactive-primary-pressed);
}
