.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.sidebar {
  width: 80px;
  height: 100vh;
  flex-shrink: 0;
}

.main {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}

.header {
  width: 100%;
  height: 80px;
  flex-shrink: 0;
}

.children {
  flex: 1;
  overflow: auto;
}

